<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FastAPI Frontend</title>
</head>
<body>
    <h2>FastAPI Elasticsearch Frontend View</h2>
    
    <form action="/get_document/" method="post">
        <button type="submit">Get Best Document</button>
    </form>

    <form action="/insert_document/" method="post">
        <button type="submit">Insert Large Document</button>
    </form>

    <div id="output"></div>
</body>
</html>
